*{
    -fx-color-primary:#FF3F4B;
    -fx-color-background: #1d1d2e;
    -fx-secundary-color: #3fffa3;
    -fx-color-border: #8A8A8A;
    -fx-input-background: #101026;
}
.menu{
    -fx-background-color: -fx-color-border;
}
#menu-item{
    -fx-padding: 4px 10px;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-border-color: -fx-secundary-color;
    -fx-text-fill: white;
    -fx-background-color: -fx-color-border;
}

#menu-item:hover{
    -fx-background-color: -fx-input-background;
    -fx-cursor: HAND;
}

#menu-item .label{
    -fx-text-fill: white;
}
#menu-item .label:hover{
    -fx-text-fill: white;
    -fx-background-color: -fx-input-background;
    -fx-cursor: HAND;
}

.context-menu {
    -fx-text-fill: white;
    -fx-background-color: -fx-color-border;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0px;
    -fx-padding: 10px; 
    -fx-opacity: 0.9;
}

.btn-app{
    -fx-background-color: -fx-secundary-color;
    -fx-background-radius: 4px;
    -fx-text-fill: -fx-color-background;
}

.btn-app:hover{
    -fx-background-color: -fx-color-primary;
    -fx-cursor: HAND;
}
.anchor{
    -fx-background-color: -fx-color-background;
}

.order{
    -fx-border-color:-fx-secundary-color;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-background-color: transparent;
}
/*TableView da tela de atendentes*/
.table-view{
    -fx-padding: 0;
}
.table-view .column-header-background{
    -fx-background-color: -fx-input-background;

}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-color-border;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: rgb(196, 192, 192);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: -fx-color-background;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.delete{
    -fx-background-color: red;
    -fx-background-radius: 4px;
    -fx-text-fill: white;
}


.btn-app-salvar{
    -fx-background-color: -fx-secundary-color;
    -fx-background-radius: 4px;
    -fx-text-fill: -fx-color-background;
}

.btn-app-salvar:hover{
    -fx-cursor: HAND;
}